#BioImageContainer
{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
}

#Headshot
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    min-height: 50vh;
    min-height: 50svh;

    max-height: 50vh;
    max-height: 50svh;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    overflow:hidden;
}

#Bio
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    width: 100%;

    min-height: 50vh;
    min-height: 50svh;

    max-height: 50vh;
    max-height: 50svh;

    background-image: -o-linear-gradient(35deg, black, rgba(0, 0, 0, 0.75),transparent);

    background-image: linear-gradient(35deg, black, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.1));

    -webkit-box-pack: end;

        -ms-flex-pack: end;

            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: start;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
}

#Bio *
{
    position: relative;
    width: calc(100% - 0.4rem);
    padding: 0.11rem;
    margin: 0.25rem;
}

#Bio img
{
    position: relative;
    width: 50%;
    padding: 1rem;
    margin: 0.5rem;

}

.bio-image
{
    position:absolute;
    height:auto;
    min-height: 125%;
    width:auto;
    min-width:125%;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    margin-left:50%;
}

.bio-container
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    max-width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    overflow: visible;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    margin-bottom: 16px;
}