#Headshot
{
    display:flex;

    min-height: 60vh;
    min-height: 60svh;

    max-height: 60vh;
    max-height: 60svh;

    justify-content: center;
    align-items: start;
    flex-direction: column;

    overflow:hidden;
}

#Bio
{
    display:flex;

    width: 100%;

    min-height: 60vh;
    min-height: 60svh;

    max-height: 60vh;
    max-height: 60svh;

    background-image: linear-gradient(35deg, black, rgba(0, 0, 0, 0.2));

    justify-content: end;
    align-items: start;
    text-align: start;

    flex-direction: column;
}

#Bio *
{
    position: relative;
    width: calc(100% - 0.4rem);
    padding: 0.11rem;
    margin: 0.25rem;
}

#Bio img
{
    position: relative;
    width: 25%;
    padding: 1rem;
    margin: 0.5rem;

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2), 
                -12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.bio-image
{
    position:absolute;
    height:auto;
    min-height: 125%;
    width:auto;
    min-width:125%;
}

.bio-container
{
    display:flex;

    max-width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: visible;

    flex-direction: column;
    margin-bottom: 16px;
}