

.poster-container
{
    width: 100%;
    aspect-ratio: 12/16;

    display: block;
}

.poster
{
    
    -webkit-transition: all 0.5s ease-in-out;
    
    -o-transition: all 0.5s ease-in-out;
    
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

blackout
{
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

    position:fixed;
    inset: 0px;
    background-color: #000;
    opacity: 0;

    z-index: 5;

    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.poster-clamp
{
    position:absolute;
    overflow: hidden;

    left:0px;
    top:0px;
    width: 100%;
    height: 100%;

    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.poster-container:hover .poster-clamp, .poster-container:focus .poster-clamp
{
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    z-index: 100;
    border: solid white;
}

.poster-container:hover blackout, .poster-container:focus blackout
{
    -webkit-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.5;
}


.poster-container:hover .poster-description-container, .poster-container:focus .poster-description-container
{
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    bottom: 0;
}

.poster-description-container
{
    position: absolute;

    width: 100%;
    bottom: -100%;

    padding-top:10%;
    padding-bottom:10%;

    background-color: rgba(0,0,0,0.75);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.poster-description-container *
{
    color: var(--font-color-dim);
}