
*
{
    --link-color: slategray;
    --font-color: #fff;
    --font-color-dim: calc(slategray + white/5); 
    
    --header-height: 64px; 
    --nav-font-size:0.75rem;
    --font-size: 1rem;
    --header-font-size: 1.5rem;
    --header-element-size: 48px;
    --header2-font-size: 1.25rem;

    --scrollbar-width: 16px;
    --scrollbar-thumb-hover-color: blue;
    --scrollbar-thumb-color: black;

    --background-color: #151518ff;
    
    float:left;
    position:relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: var(--font-color);
    font-size: var(--font-size);
}

div, form
{
    overflow: visible;
}

main
{
    inset: 0;
    left: 0px;

    width: 100vw;
    height: 100vh;

    width: 100svw;
    height: 100svh;

    background-color: var(--background-color);
}


header
{
    width: 100%;
    min-height: var(--header-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack:justify !important;
        -ms-flex-pack:justify !important;
            justify-content:space-between !important;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    overflow: visible;
    z-index: 10;
    border-bottom: slategray solid 0.1px;
}

socials
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    height: 100%;
    max-height: 100%;
    margin-left: 1rem;
}

socials *, socials * *, socials * * *
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    height: 100%;
    max-height: 100%;
}

.social-logo
{
    display: block;
    position: relative;

    height: 50%;
}

sociallink
{
    display: block;
    position: relative;

    height: 100%;
}

sociallink a:hover, sociallink a:focus
{
    -webkit-transition: -webkit-filter 0.25s ease-in-out;
    transition: -webkit-filter 0.25s ease-in-out;
    -o-transition: filter 0.25s ease-in-out;
    transition: filter 0.25s ease-in-out;
    transition: filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out;
    -webkit-filter: invert(1) grayscale() brightness(2);
            filter: invert(1) grayscale() brightness(2);
}

nav
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height:100%;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-right: 1rem;
    min-height:100%;
    overflow: visible;
}

nav *, nav * *, nav * * *
{
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height:100%;
    min-height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
}

nav ul
{
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav ul li
{
    margin-left: 8px;
    margin-right: 8px;
}

nav ul li a
{
    outline: none;
}

nav ul li a:hover, nav ul li a:focus
{
    -webkit-transition: border 0.1s ease-in-out;
    -o-transition: border 0.1s ease-in-out;
    transition: border 0.1s ease-in-out;
    color: white;
}

nav ul li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: rgba(0,0,0,0);
    -webkit-transition: right 0.2s ease-in-out;
    -o-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
}

nav ul li a:hover::after, nav ul li a:focus::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: blue;
}

nav ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0,0,0,0);
    -webkit-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}

nav ul li a:hover::before, nav ul li a:focus::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: blue;
}

h1
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width:100%;
    background-color: var(--background-color);
    
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    min-height: var(--header-element-size);

    font-size: var(--header-font-size);

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;

    border-bottom: blue solid;
    border-top: blue solid;
}

h2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width:100%;
    
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    min-height: var(--header-element-size);

    font-size: var(--header2-font-size);
    font-weight: lighter;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;

    
    border-bottom: slategray solid 0.1px;
}

p
{
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

a
{
    color: var(--link-color);
}

content
{
    overflow-x: hidden;
    overflow-y: scroll;
    
    -webkit-box-align: center;
    
        -ms-flex-align: center;
    
            align-items: center;
}

content::-webkit-scrollbar
{
    width: var(--scrollbar-width);
}

content::-webkit-scrollbar-track
{
    background-color: var(--background-color);
    border: 5px solid #111;
}

content::-webkit-scrollbar-thumb
{
    border-radius: 8px;
  border: 3px solid transparent;
   background-clip: content-box;
    background-color: var(--scrollbar-thumb-hover-color);
}

content::-webkit-scrollbar-thumb:hover
{
    background-color: var(--scrollbar-thumb-hover-color);
}

section
{
    display: table;
    width: 100%;

    overflow: visible;
}

section *
{
    width:100%;
}

gallery
{
    max-width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    overflow: visible;
}

gallery *
{
    overflow: visible;
}

production
{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    width: 90%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

galleryitem
{
    display: block;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    overflow: visible;
}


.flex-row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-column
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.height-fit-content
{
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
}