#Reel
{
    display: flex;
    flex-direction: column;
    min-height: calc(50vh - var(--header-height));
    min-height: calc(50vh - var(--header-height));
    overflow: hidden;
}

#Reel div{
    height: 100%;
}

#Reel iframe{
    border: none;
}

#ReelScrollUXContainer
{
    width: 64px !important;
    height: 160px !important;
    position:absolute;
    bottom: 32px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
}

.touch-circle
{
    background: blue;
    width: 16px !important;
    height: 16px !important;
    animation: swipe 1.5s infinite;
    border-radius: 100%;
    opacity: 0.5;
}

@keyframes swipe {
    0%
    {
        margin-bottom:0;
        border: 8px solid white;
        opacity: 0.75;
    }
    5%
    {
        border: 5px dotted white;
    }
    5%
    {
        border: 0px dotted white;
    }
    75%
    {
        margin-bottom:160px;
        border: 4px solid white;
    }
    95%
    {
        margin-bottom:160px;
        border: 4px solid white;
        opacity: 0.1;
    }
    100%
    {
        margin-bottom:0px;
        border: 0px solid white;
    }
}