#Reel
{
    display: flex;
    flex-direction: column;
    min-height: calc(50vh - var(--header-height));
    min-height: calc(50vh - var(--header-height));
    overflow: hidden;
}

#Reel div{
    height: 100%;
}

#Reel iframe{
    border: none;
}