#splash-logo
{
    background:url("../content/decals/LogoBG.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;

    inset: 0 0 0 0;
    z-index: 100;

    display:flex;
    justify-content: center;
    align-items: center;
}

#splash-logo img
{
    position:absolute;
    width:50%;
    height:auto;
}